body {
  font-family: 'Montserrat', sans-serif;
}

/* Navigation bar */
.navbar-container {
  padding: 0 5%;
  background-color: #fff;
}

.nav-item {
  padding: 0 1.125rem;
}

/* Title Section */
#title {
  background-color: #a2a8d3;
}

.background {
  background-image: url("../images/city.jpg");
  background-size: 100%;
  padding-bottom: 8%;
  position: relative;
}

.background:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(142, 168, 207, 0.6);
}

.intro {
  text-align: center;
  padding: 3.5% 25%;
  position: relative;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.big-title {
  padding-top: 7rem;
  padding-bottom: 3rem;
  font-size: 4.1rem;
  color: #fff;
}

.sub-title {
  padding-bottom: 4rem;
  color: #fff;
}

/* Features Section */

#features {
  padding: 5rem 5rem;
  text-align: center;
}

.feature-row {
  text-align: left;
  margin: 2rem 5rem;
  width: 70%;
}

.feature-img {
  width: 25%;
  margin-right: 30px;
  display: inline-block;
  vertical-align: middle;
}

.feature-text {
  display: inline-block;
  padding-left: 3rem;
  width: 60%;
  vertical-align: middle;
}

.feature-right {
  margin-left: 25rem;
}

.text-right {
  margin-right: 5rem;
}

.right-text {
  text-align: left;
}

/* Pricing Section */

#cta {
  padding: 5rem 6.25rem;
  text-align: center;
  background-color: #a2a8d3;
  background: rgba(142, 168, 207, 0.6);
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 1.5rem;
  padding-bottom: 3%;
}

.section-heading {
  font-weight: 800;
  text-align: center;
}

/* Contact */

#contact {
  text-align: center;
  padding: 5rem 6.25rem;
}

.contact-btn {
  margin-top: 3%;
}

/* Footer */

#footer {
  text-align: right;
}

.copyright {
  padding: 0.5rem 0;
  font-size: 0.75rem;
}



/* Cell Phone */
@media (min-width: 319px) and (max-width: 767.98px) {
  .background {
    background-size: cover;
    padding-bottom: 0;
  }

  .intro {
    padding: 8% 20%;
  }

  .big-title {
    padding-top: 7rem;
  }

  .download-button {
    margin: 2% 3% 10% 0;
  }

  .feature-row {
    width: 100%;
    margin: 2rem 0;
  }

  .feature-img {
    margin-right: 18px;
  }

  .feature-text {
    width: 62%;
  }

  .feature-right {
    margin-left: 0;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1081px) {
  .background {
    background-size: cover;
    padding-bottom: 0;
  }

  .intro {
    padding: 3% 20%;
  }

  .big-title {
    padding-top: 2rem;
  }

  .download-button {
    margin: 2% 3% 9% 0;
  }

  .feature-row {
    width: 100%;
    margin: 2rem 0;
  }

  .feature-img {
    margin-right: 8px;
  }

  .feature-text {
    width: 60%;
  }

  .feature-right {
    margin-left: 0;
  }

  .text-right {
  padding-left: 3rem;
  }
}
